<td><p>Kitten name: </p><%= kitten.name %></td>
<td><p>Kitten age: </p><%= kitten.age %></td>
<td><p>Kitten cutness: </p><%= kitten.cutness %></td>
<td><p>Kitten softness: </p><%= kitten.softness %></td>